<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container banner1 mt-3 text-center" th:fragment="banner1">
		<div class="row">
			<div class="col-md-2">
				<div class="img1">
					<a href="" style="text-decoration: none; color: black;"><img
						th:src="@{/img/hair.png}" width="35px;" alt="" /><br> Salon
						For Men</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="img1">
					<a href="" style="text-decoration: none; color: black;"><img
						th:src="@{/img/women-hair.png}" width="35px;" alt="" /><br>
						Salon For Women</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="img1">
					<a href="" style="text-decoration: none; color: black;"><img
						th:src="@{/img/wtherapy.png}" width="33px;" alt="" /><br>
						Spa for Women</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="img1">
					<a href="" style="text-decoration: none; color: black;"><img
						th:src="@{/img/salon women.png}" width="33px;" alt="" /><br>
						Women's Hair Services</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="img1">
					<a href="" style="text-decoration: none; color: black;"><img
						th:src="@{/img/mentherapy.png}" width="33px;" alt="" /><br>
						Men's Therapies</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="img1">
					<a href="" style="text-decoration: none; color: black;"><img
						th:src="@{/img/plumber-carpenter.png}" width="33px;" alt="" /><br>
						Plumber & Carpenters</a>
				</div>
			</div>

		</div>
		<div class="row mt-3">
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<div class="img1">
					<a href="" style="text-decoration: none; color: black;"><img
						th:src="@{/img/Painting.png}" width="33px;" alt="" /><br>
						Home Painting</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="img1">
					<a href="" style="text-decoration: none; color: black;"><img
						th:src="@{/img/cleaning-and-pest.png}" width="33px;" alt="" /><br>
						Cleaning & Pest Control</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="img1">
					<a href="" style="text-decoration: none; color: black;"><img
						th:src="@{/img/electrician.png}" width="33px;" alt="" /><br>
						Electrician</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="img1">
					<a href="" style="text-decoration: none; color: black;"><img
						th:src="@{/img/appliances-repair.png}" width="33px;" alt="" /><br>
						Appliances & Repair</a>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>

	</div>


</body>
</html>