<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="footer1">

		<div class="container-fluid text-center bg-black text-white">
			<div class="row align-items-end">
				<div class="col">
					<p class="pt-2">&#169; 2010-23 IW Technologies India Pvt. Ltd.</p>
				</div>
				<div class="col"><p class="pt-2">&#169; 2010-23 IW Technologies India Pvt. Ltd.</p></div>
				<div class="col"><p class="pt-2">&#169; 2010-23 IW Technologies India Pvt. Ltd.</p></div>
			</div>
		</div>
	</footer>
</body>
</html>