<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="header1">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"> <img src="/img/logo1.png"
					alt="Bootstrap" width="180px" height="33">
				</a>
				<!-- <a class="navbar-brand" style="font-size: 24px;" href="#">HireLing</a> -->
				<button class="navbar-toggler bg-white" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">Home</a></li>
						<li class="nav-item"><a class="nav-link  " href="#">About</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Contact
								us</a></li>
					</ul>

					<th:block th:if="${worker==NULL}">
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							<li class="nav-item"><a class="nav-link"
								href="/worker/index">Login</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{registraion-form}">Sign up</a></li>
						</ul>
					</th:block>

					<th:block th:if="${worker!=NULL}">
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/worker/profile}"><img style="object-fill:cover;"  th:src="@{'/img/'+${worker.imageUrl}}"
									alt="Logo" width="30" height="24"
									class="d-inline-block align-text-top"> <span
									th:text="${worker.firstName}"></span> <span
									th:text="${worker.lastName}"></span></a></li>
							<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
						</ul>
					</th:block>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>